@font-face {
	font-family: 'GloberSemiBoldFree';
	src: url('../fonts/globersemiboldfree.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/globersemiboldfree.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/globersemiboldfree.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/globersemiboldfree.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/globersemiboldfree.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/globersemiboldfree.svg#globersemiboldfree') format('svg'); /* Chrome < 4, Legacy iOS */
}